/**
 * Created by new on 18.12.2017.
 */
/*.THIS .hoversmthng {*/
    /*display: none;*/

/*}*/

.THIS .topelem {
    position: relative;
    display: inline-block;
}

.THIS .topelem .hoversmthng{
    visibility: hidden;
    width: 120px;
    height: 100px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    left: -46px;
    top: -105px;
    border-color: black;
    outline: 2px solid #000;
}

.THIS .topelem:hover .hoversmthng{
    /*display: block;*/
    visibility: visible;
}

.THIS .hoversmthng::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}